*.exe
!output/*.exe
*.sdf
*.opensdf
*.zip
*.suo
*.ncb
*.vcproj.*
*.vcxproj*
*xcconfig
*.pkg
*.dmg
*.depend
*.layout
*.mode1v3
*.db
*.LSOverride
*.xcworkspace
*.xcuserdata
*.xcschememanagement.plist
*-rtas.def
*.aps
*.props
*.sln
*.plist
*.entitlements
*.icns
*.ico
*.strings
*.xib
*.ipch
*Pages*
Debug/*
ipch/*
gui/*
installer/*
manual/*
LCRChorus.xcodeproj/*
build-win/*
.vs/*
src/.vs/*
src/build-win/*
resources/English.Iproj/*
tools/*
src/app_wrapper/*

Icon?
.DS_Stor*
