*.exe
*.sdf
*.opensdf
*.zip
*.suo
*.ncb
*.vcproj.*
*.vcxproj*
*xcconfig
*.pkg
*.dmg
*.depend
*.layout
*.mode1v3
*.db
*.LSOverride
*.xcworkspace
*.xcuserdata
*.xcschememanagement.plist
build-*
ipch/*
gui/*
installer/*
manual/*
LCRChorus.xcodeproj/*

Icon?
.DS_Stor*
.vs/*